<div class="main.img"><img src="{{ movie.poster.url }}" alt="Movie" width="200" height="200"></div>

<p>Описание: {{ movie.description }}</p>


<video width="600" height="700" controls>
        <source src="{{ movie.video.url }}" type="video/mp4">
</video>

<p>Оценить фильм </p>
 {{ rates }}
<form method="POST" action="">
{{ form1 }}
<input type="submit" name="Submit">




<h1>Comments</h1>
{% csrf_token %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <link href="{% static 'css/comments.css' %}">
<div class="container justify-content-center mt-5 border-left border-right">
    <div class="d-flex justify-content-center pt-3 pb-2"> <input type="text" name="text" placeholder="+ Add a note" class="form-control addtxt"> </div>
    <div class="d-flex justify-content-center py-2">
        <div class="second py-2 px-2"> <span class="text1">Type your note, and hit enter to add it</span>
            <div class="d-flex justify-content-between py-1 pt-2">
                <div><img src="https://i.imgur.com/AgAC1Is.jpg" width="18"><span class="text2"></span></div>
                <div><span class="text3">Upvote?</span><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span><span class="text4">3</span></div>
            </div>
        </div>
    </div>
    {% for cmn in comments %}
    <div class="d-flex justify-content-center py-2">
        <div class="second py-2 px-2"> <span class="text1">{{ cmn.user }}</span>
            <div class="d-flex justify-content-between py-1 pt-2">
                <div><img src="https://i.imgur.com/tPvlEdq.jpg" width="18"><span class="text2">{{ cmn.text }}</span></div>

            </div>
        </div>
    </div>
{% endfor %}

















